
<div>
  <div class="rental">
      <p>Rental {{rentalService.movieName1.count + rentalService.movieName2.count}}</p>
      <button (click)= "rentalService.clearRentalService()">Clear Rental </button>
  </div>
  <div class="movieListDiv">
<app-child-component [movieData]= "rentalService.movieName1" (handleCount)= "rentalService.handleCount($event)"></app-child-component>
<app-child-component [movieData]= "rentalService.movieName2" (handleCount)= "rentalService.handleCount($event)"></app-child-component>
</div>
</div>

